html{
  font-family: sans-serif;
}
header{
  background: #3B5998;
}
header .logo-area{
  color: #fff;
  display: inline-block;
}
header .logo-area a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
header .menu{
  display: inline-block;
}
header .menu ul li{
  display: inline-block;
}
header .icon-links{
  display: inline-block;
}
header .icon-links ul li{
  display: inline-block;
}
header .icon-links .quick-options{
  display: inline-block;
}
header .icon-links .privacy{
  display: inline-block;
}
header .search-area{
  display: inline-block;
}
header .search-area ul li{
  display: inline-block;
}
